<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to a generic German Dictionary site</h1>
                    <p>I have started learning German at the beginning of 2020 when my wife and I have moved to Switzerland (fantastic year to try out new things, right?).</p>
                    <p>Unfortunately, I am yet to gain employed status in this beautiful country, however I have thought to myself: what's the best way to tackle the enormous task of learnig German from scratch?
                    	Of course the answer is: a good dictionary/learning tool. However to my dismay, I am yet to find a good and free resource for a beginner in the field of German studies. Of course there is Duden.de,
                    	but in my opinion that is useful later on, when one has the necessary knowledge to fully utilise its potential. Thus my quest begins to possibly make something useful.
                    </p> 
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>