<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Users</title>
</head>
<body>

	<div layout:fragment="content">

		<section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h3>Nouns</h3>
						<p th:text="'Page ' + ${nounPage.number + 1}">
						</p>
						<hr>

						<form th:action="@{/nouns}" class="form-inline">
						
							<a th:href="@{/nouns/showFormForAdd}"
								class="btn btn-primary btn-sm mr-5 mb-3"> Add Noun </a>
							<input
								class="form-control  ml-5 mr-sm-2 mb-3" type="search"
								name="word" th:value="${searchedWord}" placeholder="Search by word" />
								
							<button class="btn btn-success mb-3" type="submit">Search</button>
						</form>


						<table class="table table-bordered table-striped">
							<thead class="thead-dark">
								<tr>
									<th>Gender</th>
									<th>Noun</th>
									<th>Plural</th>
									<th>Meaning</th>
									<th>Edit</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="temp, iStat : ${nounPage.content}">

									<td>
										<td th:each="gender : ${temp.genders}">
										
											<p th:if="${gender eq 0}" th:text=""></p>
											<p th:if="${gender ne 0}" th:text="${gender.name}"></p>
											
										</td>
									</td>
									
<!-- 									<td th:text="${temp.gender}" /> -->
									<td th:text="${temp.word}" />
									<td th:text="${temp.plural}" />
									<td th:text="${temp.plural}" />

									<td>
										<!-- 					<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')"> -->

										<!-- Add "update" button/link --> <a
										th:href="@{/nouns/showFormForUpdate(nounId=${temp.id})}"
										class="btn btn-info btn-sm"> Update </a> <!-- 					</div>					 -->

										<!-- 					<div sec:authorize="hasRole('ROLE_ADMIN')">   --> <!-- Add "delete" button/link -->
										<a th:href="@{/nouns/delete(nounId=${temp.id})}"
										class="btn btn-danger btn-sm"
										onclick="if (!(confirm('Are you sure you want to delete this word?'))) return false">
											Delete </a> <!-- 					</div>					 -->
									</td>


								</tr>
							</tbody>
						</table>
						
						<nav aria-label="Pages">
						    <ul class="pagination justify-content-center">
						
							<li th:class="${nounPage.number eq 0} ? 'page-item disabled' : 'page-item'">
					            <a class="page-link" th:if="${nounPage.number ge 0}" th:href="@{${'/nouns'}(page=${0},size=${nounPage.size},word=${searchedWord})}" th:text="First"></a>
					            <a class="page-link" th:if="${not (nounPage.number ge 0)}" href="javascript:void(0);" th:text="First"></a>
					        </li>
						
						        <li class="page-item" th:each="pageNo : ${#numbers.sequence(begin, end-1)}" >
						            <a class="page-link active" aria-current="page"
						            	th:classappend="${nounPage.number eq pageNo} ? 'disabled'"
						            	th:if="${nounPage.number eq pageNo}" href="javascript:void(0);"
						                th:text="${pageNo + 1}">
						                <span class="sr-only">(current)</span>
						            </a>
						            <a class="page-link" th:if="${not (nounPage.number eq pageNo)}" th:href="@{${'/nouns'}(page=${pageNo},size=${nounPage.size},word=${searchedWord})}"
						                th:text="${pageNo + 1}">
						            </a>
						        </li>
							<li th:class="${nounPage.number eq nounPage.totalPages} ? 'page-item disabled' : 'page-item'">
					            <a class="page-link" th:if="${end le nounPage.totalPages}" th:href="@{${'/nouns'}(page=${nounPage.totalPages-1},size=${nounPage.size},word=${searchedWord})}" th:text="Last"></a>
					            <a class="page-link" th:if="${not (end le nounPage.totalPages)}" href="javascript:void(0);" th:text="Last"></a>
					        </li>
							
						    </ul>
						</nav>

						<hr>
						<a th:href="@{/}">Home</a>

					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>